.App{
  padding-left: 10px;
}

.small{
  width: 60px;
}
.ex-small{
  width: 10px;
}

.editable {
  border-collapse: collapse;
  margin-bottom: 10px;
}
.editable th, .editable td {
  border: 1px solid #000;
  padding: 10px;
}
.editable th {
  color: #fff;
  background: #000;
}
.editable td.edit {
  background: #ffe7e7;
}

.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0.51rem 1rem ;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-sec{
  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 0.51rem 1rem ;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn-sml{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0.51rem 1rem ;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
